<div class="row blank-slate">
  <div class="small-12 small-centered columns">
    <p>You don't have any recipes!</p>
    <%= link_to "Create Recipe", new_recipe_path, class: "button radius" %>
  </div>
</div>
