<%= title "Recipes" %>


<% if @recipes.size > 0 %>
  <ul class="list recipes no-bullet">
    <div class="row">
      <div class="small-12 text-center columns">
        <div class="index">
          <%= render partial: "recipe", collection: @recipes %>
        </div>
      </div>
    </div>
  </ul>

<% else %>
  <%= render partial: 'blank_slate' %>
<% end %>
