<%= title "Recipes" %>


<% if @recipes.size > 0 %>

  <div class="row">

    <% if logged_in? %>
      <div class="small-12 columns truncate index-header">Your recipes</div>
      <div class="small-4 columns header title-index truncate"><h5>Title</h5></div>
      <div class="small-4 columns header coffee-index truncate"><h5>Coffee</h5></div>
      <div class="small-4 columns header water-index truncate"><h5>Water</h5></div>

      <ul class="list no-bullet">

        <div class="index">
          <%= render partial: "recipe", collection: current_user.recipes %>
        </div>
      </ul>
    <% end %>

      <div class="small-12 columns truncate index-header">All recipes</div>
      <div class="small-4 columns header title-index truncate"><h5>Title</h5></div>
      <div class="small-4 columns header coffee-index truncate"><h5>Coffee</h5></div>
      <div class="small-4 columns header water-index truncate"><h5>Water</h5></div>

    <ul class="list no-bullet">

      <div class="index">
        <%= render partial: "recipe", collection: @recipes.sort { |a,b| a.title.downcase <=> b.title.downcase } %>
      </div>
    </ul>
  </div>


<% else %>
  <%= render partial: 'blank_slate' %>
<% end %>
