<div class="row collapse recipe-title">
  <div class="small-12 columns">
    <h2 class="page-title truncate">coffeeFilter.me</h2>
  </div>
</div>


<div class="row">
  <div class="small-12 small-centered columns hero">
    <div row="row">
      <div class="small-12 columns">
        <div class="about">

        <p>This is an open-source project, please feel free to fork on <a href ="https://github.com/FailedSitcom/aeropressTimer">Github</a> if you that's your thing.</p>

        <p>I would like to express my gratitude to Keith Wood's <a href="http://keith-wood.name/countdown.html">jQuery Countdown</a>, without which this project would have required a considerable amount more of headscratching.</p>

        <p>The lovely alarm sound comes courtesy of <a href="https://www.freesound.org/people/bone666138/sounds/198841/">bone666138</a> and is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution License</a></p>

        <p>I highly encourage anybody adding their recipes to credit any original sources and provide links to original videos/tutorials. If you find your recipe on here and would like it removed, please contact me by clicking <a href="mailto:sam.thomas.durkin@gmail.com">here</a>.

        <p>Any other questions are probably best directed to my <a href="http://www.twitter.com/SamThomasDurkin">Twitter page</a>.
        </div>
      </div>
    </div>
  </div>
</div>
