.recipes li a {
  display: block;
  padding: 0.4em 1em 0.4em 0em;
}

#recipe-functions .outline {
  background: none;
  color: rgb(64, 39, 24);
  border: 1px solid rgb(64, 39, 24);
  &.alert {
    border-color: red;
    color: red;
  }
}

#recipe-functions {
  margin-top: 10px;
  a span.fa {
    display: block;
    font-size: 1.4em;
    clear: both;
  }
}

.fa-caret-down, .fa-caret-up {
  color: white;
  padding-top: 20px;
}

.recipe-title {
  background: #D94625;
}

.recipe-title h2 {
  margin: 0;
}

.coffee {
  background: #402718;
  margin: 0;
  padding: 5px 0;
  border-bottom: 3px solid #D94625;
}

.water {
  background: #402718;
  margin: 0 0 40px 0;
  padding: 5px 0;
  border-bottom: 3px solid #D94625;
}

.seconds {
  background: #402718;
  margin: 0;
  padding: 5px 0;
  border-bottom: 3px solid #D94625;
}

.recipe {
  padding: 0;
  margin: 0;
}

.description {
  padding: 15px 10px 100px 10px;
  background: #FFF;
}

.recipe h3 {
  color: #FFF;
  padding: 0;
}

.recipe h5 {
  color: #FFF;
}

.recipe h4 {
  color: #F2DCB3;
}

.title h4 {
  color: #FFF;
}

.title {
  margin: 0;
  padding: 0;
}

.button {
  margin: 0;
}


.start {
  background: $red;
  border: 2px solid #D94625;
}

.pause {
  background: #17A697;
  border: 2px solid #17A697;
}

.countdown {
  padding: 20px 0;
  background: #D98723;
}

.countdown-amount {
  color: $red;
}

.countdown-holding span {
  color: #402718;
}

.is-countdown {
  background: #D98723;
  border: 0;
  margin: 0;
  font-size: 1.5em;
}

#start:hover  {
  background: lighten($red, 10%);
}

#pause:hover  {
  background: lighten(#17A697, 10%);
}

#recipe-functions {
  padding-bottom: 10px;
}
