.recipes li a {
  display: block;
  padding: 0.4em 1em 0.4em 0em;
}

#recipe-functions .outline {
  background: none;
  color: $blue;
  border: 1px solid $blue;
  &.alert {
    border-color: red;
    color: red;
  }
}

#recipe-functions {
  margin-top: 10px;
  a span.fa {
    display: block;
    font-size: 1.4em;
    clear: both;
  }
}
