<div class="small-4 columns header-icon">

  <% if @go_back %>
    <%= link_to "Back", @go_back, class: "icon-arrow-left hide-text" %>  
  <% else %>
  <%= link_to "Sign Out", logout_path, method: :delete, class: "icon-signout hide-text" %>
  <% end %>
</div>
<div class="small-4 columns">
  <h1 class="logo"><%= link_to "AeropressTimer", recipes_path, class: "hide-text" %></h1>
</div>
<div class="small-4 columns header-icon">
  <%= new_recipe_link %>
</div>
